<div class="content-body">
    <button data-bs-toggle="modal" data-bs-target="#addProjectSidebar" class="btn btn-success me-2 mt-2 offset-1">
      <i></i> Ajouter ➕
    </button>
    
    <div class="container-fluid">
      <div class="row g-4">
        <!-- Utilisation de *ngFor pour afficher les utilisateurs -->
        <div class="col-xl-4 col-xxl-4 col-lg-4 col-sm-12 mb-4" *ngFor="let user of tabUser">
          <div class="card card-bd" style="width: 320px;">
            <div class="card-body box-style">
              <div class="media align-items-center">
                <div class="media-body me-3">
                  <h6>Agent</h6>
                  <span class="fs-14">Prenom : {{user.prenom}}</span><br>
                  <span class="fs-14">Nom : {{user.nom}}</span><br>
                  <span class="fs-14">Matricule : {{user.matricule}}</span><br>
                  <span class="fs-14">Structure :{{user.structure}}</span>
    
                  <div class="mt-3">
                    <input type="number" hidden [value]="user.id" #idUser>
                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#detaille' + user.id" style="margin-right: 5px;">
                      <i class="fas fa-eye"></i> 
                    </button>
                    <button [routerLink]="['/Modifier',user.id]" class="btn btn-secondary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#Update' + user.id" style="margin-right: 5px;">
                      <i>📝</i> 
                    </button>
                    <button (click)="Archiver(user.id)" class="btn btn-danger btn-sm mr-2">
                      <i class="fas fa-trash"></i> 
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal Détail -->
          <div class="modal fade" [id]="'detaille' + user.id">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Détail Agent</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <!-- Colonne Gauche -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="text-black font-w500">Prenom Agent</label><br>
                        <span>{{user.prenom}}</span>
                      </div>
                      <div class="form-group">
                        <label class="text-black font-w500">Nom Agent</label><br>
                        <span>{{user.nom}}</span>
                      </div>
                      <div class="form-group">
                        <label class="text-black font-w500">Matricule</label><br>
                        <span>{{user.matricule}}</span>
                      </div>
                    </div>
                    <!-- Colonne Droite -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="text-black font-w500">Email</label><br>
                        <span>{{user.email}}</span>
                      </div>
                      <div class="form-group">
                        <label class="text-black font-w500">Type de Structure</label><br>
                        <span>{{user.typeStructure}}</span>
                      </div>
                      <div class="form-group">
                        <label class="text-black font-w500">Structure</label><br>
                        <span>{{user.structure}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <button type="button" class="btn btn-success offset-11" data-bs-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
 
          
        </div>
      </div>
    </div>
  
    <!-- Ajout Agent Modal -->
    <div class="modal fade" id="addProjectSidebar">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ajout Agent</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="AjouterAgent" (ngSubmit)="AjoutAgent()">
              <div class="row">
                <!-- Colonne Gauche -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-black font-w500">Prenom Agent</label>
                    <input type="text" formControlName="Prenom" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Nom Agent</label>
                    <input type="text" formControlName="Nom" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Adresse</label>
                    <input type="text" formControlName="Adresse" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Numero Tel</label>
                    <input type="text" formControlName="NumTel" class="form-control">
                  </div>
                </div>
                <!-- Colonne Droite -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-black font-w500">Mot de passe</label>
                    <input type="password" formControlName="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Type Structure</label>
                    <select formControlName="TypeStructure" class="form-control">
                      <option value="">--Selectionner--</option>
                      <option value="Police">Police</option>
                      <option value="Gendarmerie">Gendarmerie</option>
                      <option value="Senegal services">Senegal services</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Structure</label>
                    <select formControlName="structure" class="form-control">
                      <option value="">--Selectionner--</option>
                      <option value="Police 4eme medina">Police 4eme medina</option>
                      <option value="Gendarmerie ouakam">Gendarmerie ouakam</option>
                      <option value="Police dieuppeul">Police dieuppeul</option>
                      <option value="Police guediawaye">Police guediawaye</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Email</label>
                    <input type="email" formControlName="Email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group mt-2">
                <button type="submit" class="btn btn-success offset-11" data-bs-dismiss="modal">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
</div>
  
  
 

 