      <!--**********************************
          Sidebar start
      ***********************************-->
      <div class="deznav">
        <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
            <li>
                <a href="#">
                    <i class="flaticon-monitor"></i>
                    <span class="nav-text">Tableau de bord</span>
                </a>
            </li>
                
            <li>
                <a  routerLink="PiecesTrouvees">
                    <i class="flaticon-layout"></i>
                    <span class="nav-text">Pieces ramassasees</span>
                    </a>
                </li>
            <li>
                <a  routerLink="PiecePerdueByUser">
                    <i class="flaticon-bar-chart-1"></i>
                    <span class="nav-text">Pieces perdues</span>
                </a>
            </li>
            <li>
                <a  routerLink="PiecePerdue">
                    <i class="flaticon-contract"></i>
                    <span class="nav-text">declaration perte</span>
                </a>
            </li>
            <li>
                <a  routerLink="GestionAgent">
                    <i class="flaticon-form"></i>
                    <span class="nav-text">Gestion des Agents</span>
                </a>
            </li>
            <li >
                <a routerLink="Declaration" >
                    <i class="flaticon-contract"></i>
                    <span class="nav-text">Declaration ramassage</span>
                </a>
            </li>
           <li>
                <a routerLink="DemandeCertificat">
                    <i class="flaticon-newsletter"></i>
                    <span class="nav-text">Certificat de Perte</span>
                </a>
            </li>
             <!--    <li><a  href="#">
          <i class="flaticon-contract"></i>
          <span class="nav-text">Forms</span>
        </a>
                </li>
                <li><a  href="#">
          <i class="flaticon-table"></i>
          <span class="nav-text">Table</span>
        </a>
                </li>
                <li><a  href="#">
          <i class="flaticon-newsletter"></i>
          <span class="nav-text">Pages</span>
        </a>
                </li>-->
            </ul> 
  </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->